{% render 'pagefly-settings' %} <link rel="stylesheet" href="{{ 'pagefly.e02ce237.css' | asset_url }}">
		  <style>@font-face {
        font-family: 'Gill Sans Medium';
        src: url(https://cdn.shopify.com/s/files/1/0561/3826/8736/files/Gill_Sans_Medium.woff2?v=1667179641);
      }@font-face {
        font-family: 'Marverlous Script Demo';
        src: url(https://cdn.shopify.com/s/files/1/0561/3826/8736/files/Marverlous_Script_Demo.woff2?v=1667179661);
      }@font-face {
        font-family: 'Gill Sans Bold';
        src: url(https://cdn.shopify.com/s/files/1/0561/3826/8736/files/Gill_Sans_Bold.woff2?v=1667179641);
      }@font-face {
        font-family: 'Gill Sans Light';
        src: url(https://cdn.shopify.com/s/files/1/0561/3826/8736/files/Gill_Sans_Light.woff2?v=1667179641);
      }</style><div style="opacity:0" class="sc-iJKOTD itWmqZ __pf __pf_1fyqjiM8" id="__pf"><div data-pf-type="Body" class="sc-bilyIR cCHonK pf-1_"><div data-pf-type="Layout" class="sc-ilfuhL bpQaoh pf-2_"><div data-section-id="pf-1a02" data-pf-type="Section" class="sc-jHkVzv kFoSDU pf-3_ pf-bg-lazy"><div class="sc-dVNjXY gaVfQc"><div class="sc-llYSUQ bhKSKZ pf-4_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-eGPXGI dIjtdz pf-5_"><h3 data-pf-type="Heading" class="sc-iUKqMP iPshnk pf-6_"><span data-pf-type="Text" class="sc-fmciRz hKEAti pf-8_">PRODUCTIVE STUDIOS</span></h3></div></div></div><div class="sc-llYSUQ bhKSKZ pf-19_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-eGPXGI dIjtdz pf-18_"><form target="_blank" action="" method="POST" data-pf-type="MailChimpBox" class="sc-hRnpUl fKidlx pf-17_"><div class="sc-llYSUQ bhKSKZ pf-16_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-eGPXGI dIjtdz pf-15_"><div data-pf-type="MailchimpField" class="sc-fpyFWH hzPBrL pf-11_"><input type="email" placeholder="Email" value="" name="EMAIL" data-pf-type="MailChimpSingleInput" class="sc-hCwLRM cUUAWy pf-10_"/></div><button type="submit" data-pf-type="MailChimpButton" class="sc-jnSlpE deGaXV pf-14_"><span data-pf-type="Text" class="sc-fmciRz hKEAti pf-13_">Subscribes</span></button></div></div></div></form></div></div></div></div></div></div></div></div><script>
    !function(){window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.25.5","shopDomain":"productive-tudios.myshopify.com","elementData":{},"pageTitle":"password","pageType":"password","pageId":"e02ce237-3ca2-4eeb-9589-0bd5f8188680","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"selectedFonts":{},"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script><script src="https://cdn.pagefly.io/pagefly/3.25.5/core/helper.js" async></script>
{% schema %}
{
  "name": "PageFly Password Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://apps.pagefly.io/editor?id=e02ce237-3ca2-4eeb-9589-0bd5f8188680)."
    }
  ]
}
{% endschema %}